body {
    margin: 10px;
    background-image: url("sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    text-align: center;
    justify-content: center;
}

table {
    width: 700px; /* Ширина таблицы */
    border: 1px dashed black; /* Рамка вокруг таблицы */
    margin: auto; /* Выравниваем таблицу по центру окна  */
}

th, td {
    border-bottom: 1px solid black;
    text-align: left;
}

td:hover {background-color: #a5a5a5;}

#gameFieldWrapper {
    display: flex;
    justify-content: center;
}

#gameCanvas{
    width: fit-content;
    background-color: black;
}

#stats{
    font-size: large;
    font-family: sans-serif;
}